<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>For Each</title>
</head>
<body>
  <h1>Item List</h1>

  <div>
    <p>여기에 List의 각 데이터가 담긴채</p>
    <!-- [목표] List의 데이터 갯수 만큼 반복해서 p Element Add -->
  </div>
  <div>
   <!-- List length 만큼 p tag 값이 반복됨 -->
        <p th:each="item:${listOfStrings}">item : [[${item}]]</p>
  </div>
  <div th:each="student:${studentList}">
      <h3>Name : [[${student.name}]]</h3>
      <p>Email : [[${student.email}]]</p>
  </div>
</body>
</html>